# ---- Email Notification Settings ----
sender_email=email@example.com
email_user=email@example.com
email_password=<Get your email app password> # Video: https://www.youtube.com/watch?v=Jp9B0rY6Fxk
email_server=smtp.gmail.com
email_port=587
recipients=email1@example.com,email2@example.com

# ---- Cache Settings ----
cache_file=listings.txt

# ---- Daft Search Filters ----
rent_min_bedroom=1
rent_max_bedroom=2
rent_min_bath=1
rent_max_price=2500

# ---- Daft Account Credentials ----
daft_email=john.doe@gmail.com
daft_password=YourDaftPassword
daft_first_name=John
daft_last_name=Doe
daft_phone_number=+353 1234567
daft_text=Hi, I am interested in this property. I am a working professional and would love to arrange a viewing at your earliest convenience. Thank you!